@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'mazzardm_regular';
        font-weight: 400;
        font-size: 17px;
        color: #1D263A;
    }    

    @font-face {
        font-family: 'mazzardm_regular';
        src: url('fonts/mazzardm-regular-webfont.woff2') format('woff2'),
             url('fonts/mazzardm-regular-webfont.woff') format('woff'),
             url('fonts/mazzardm-regular-webfont.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'mazzardh_bold';
        src: url('fonts/mazzardh-bold-webfont.woff2') format('woff2'),
            url('fonts/mazzardh-bold-webfont.woff') format('woff'),
            url('fonts/mazzardh-bold-webfont.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
    }

}

@layer components {
    .btn-blue {
        @apply px-8 py-4 bg-blue-1000 font-medium text-white rounded-lg hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-opacity-75;
    }

    .btn-nocolor {
        @apply px-8 py-4 font-medium rounded-lg hover:bg-blue-800 hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-opacity-75;
    }

    .btn-orange {
        @apply px-8 py-4 bg-yellow-250 text-yellow-500 font-medium rounded-lg hover:bg-yellow-800 hover:text-white focus:outline-none focus:ring-2 focus:ring-yellow-700 focus:ring-opacity-75;
    }

    .btn-orange-450 {
        @apply px-8 py-4 bg-yellow-450 text-white font-medium rounded-lg hover:bg-yellow-800 hover:text-white focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-opacity-75;
    }

    .btn-mint {
        @apply px-5 py-3 bg-green-500 font-medium text-white rounded-lg hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-opacity-75;
    }

    .li-block {
        @apply flex flex-row whitespace-nowrap items-center min-w-min border border-gray-300 rounded-md pl-12;
    }

    .tittle-bold {
        @apply maz-bold font-semibold text-5xl;
    }
}

@layer utilities {
     .maz-bold {
        font-family: 'mazzardh_bold';
    }

    .bg-mint {
        background-color: #D6EBE4;
    }

    .bg-light-gray {
        background-color: #F9FAFB;
    }

    .wrap-container {
        width: 81.25vw;
    }

    .border-bottom:hover {
        border-bottom: 2px solid rgba(30, 58, 138);
        margin-bottom: -2px;
    }
}
